<%- include("../partials/header") %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Wow you signed up!</h1>
			<p>You are logged in, but you can logout and log back in!</p>
			<div class="container mt-3">
				<a class="btn btn-primary" href="./logout">Logout</a>
			</div>
		</div>
	</header>
</div>

<%- include("../partials/footer") %>